body {
    background-color: rgb(141, 141, 141);
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: calc(50vh - 170px);
}



.playercontainer {
    display: grid;
    grid-template-columns: repeat(10,34px);
    grid-template-rows: repeat(10,34px);
}

.opponentcontainer {
    display: grid;
    grid-template-columns: repeat(10,34px);
    grid-template-rows: repeat(10,34px);
}

.shipContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
}

.content .shipContent .used .hull{
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
}

.shipPreview{
    display: flex;
}

.board {
    background-color: white;
    border: 1px solid blue;
    width: 32px;
    height: 32px;
}

.board:hover {
    background-color: black;
}

.hull {
    border: 1px solid blue;
    background-color: orange;
    width: 32px;
    height: 32px;
}